<nav
  class="fixed top-0 w-full h-16 flex bg-gradient-to-b from-gray-900 text-white justify-between z-50"
>
  <div class="flex items-center gap-5 px-10">
    <img class="h-8" src="netflix-logo.png" />
    <a routerLink="/">Home</a>
    <a routerLink="/tv-shows">TV Shows</a>
    <a routerLink="/movies">Movies</a>
    <a routerLink="/new-and-popular">New & Popular</a>
    <a routerLink="/my-list">My List</a>
    <a routerLink="/browse-by-lang">Browse by Languages</a>
  </div>
  <div class="flex items-center gap-5 px-10">
    <img class="w-9" src="logo.svg" />
    <a routerLink="/kids">Kids</a>
    <img class="w-9" src="logo.svg" />
    <img class="w-9" src="logo.svg" />
  </div>
</nav>
